body {
  background-color: #f6e100;
}

h1 {
  font-size: 24px;
}

.App {
  max-width: 400px;
  margin: auto;
}

.bookingForm {
  margin-top: 30px;
}

.info {
  margin: 10px 10px;
}

.slotTable td {
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.timeSlotButtons button {
  background-color: #ff7800;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11pt;
  margin-left: 5px;
  padding: 5px 8px;
}

.bookingTitle {
  border: 1px solid #333333;
  background-color: #ff7800;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.bookingForm button {
  background-color: #333333;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18pt;
  height: 60px;
  margin: 20px 0 0 0;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input, textarea {
  background-color: #ff7800;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
  padding: 5px 10px;
  width: 378px;
}
input::placeholder, textarea::placeholder {
  color: #ffffff;
  opacity: 0.7;
}
textarea {
  height: 110px;
}

.react-datepicker__close-icon::after {
  background-color: #333333 !important;
}

@media only screen and (max-width: 768px) {
  h1 { font-size: 20px; }
  input, textarea {
    width: 278px;
  }

  .App {
    max-width: 300px;
    margin: auto;
  }

  .timeSlotButtons button {
    height: 50px;
    hyphens: auto;
    vertical-align: top;
    word-break: break-all;
    width: 45%;
  }

  .bookingTitle {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .info { margin: 10px; }
}

@media only screen and (min-width: 769px) {
  .slotTable {
    width: 100%;
  }
}
